Repository neoki07/sf2-synth-audio-worklet: changes, and which lint-staged commands are due for each by the changed paths.
All: nr lint, nr format

.lintstagedrc:

{
  "./**/*.{js,jsx,ts,tsx}": "nr lint",
  "./**/*.{js,jsx,ts,tsx,html,css,json}": "nr format"
}

update package.json
  .husky/pre-commit
  .lintstagedrc
  package.json
  tests/e2e/package.json
Due: nr format

wip: update eslint and prettier config
  .eslintignore
  .eslintrc
  .eslintrc.js
  .prettierrc
  .prettierrc.js
  package.json
  src/TextEncoder.js
  src/audioworklet.d.ts
  src/index.ts
  src/node.ts
  src/processor.ts
  src/types.ts
  tests/e2e/src/App.tsx
  tests/e2e/src/Button.tsx
Due: nr lint, nr format

fix top level files
  .eslintignore
  .prettierignore
  dts-bundle-generator.config.js
  jest.config.ts
  package.json
  src/generated/processor.js
  src/generated/processor.js.map
  tests/e2e/src/App.tsx
  vite.config.ts
Due: nr lint, nr format

fix library files (lint)
  .eslintignore
  src/audioworklet.d.ts
  src/generated/processor.js
  src/generated/processor.js.map
  src/node.ts
  src/processor.ts
  src/text-encoder-decoder.js
  src/vite-env.d.ts
  vite.config.ts
Due: nr lint, nr format

fix test files (lint)
  .eslintignore
  .eslintrc.js
  src/audioworklet.d.ts
  src/node.ts
  src/processor.ts
  tests/e2e/src/App.tsx
  tests/e2e/src/vite-env.d.ts
  tests/e2e/vite.config.ts
Due: nr lint, nr format

update ignore files
  .eslintignore
  .prettierignore
Due: none

update scripts
  package.json
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
Due: nr lint, nr format

add prettier check script
  package.json
Due: nr format

replace deprecated package (rollup-plugin-terser)
  package.json
  rollup-processor.config.mjs
Due: nr format

add static code analysis ci
  .github/workflows/deploy-e2e-test-app.yml
  .github/workflows/static-code-analysis.yml
Due: none

fix lint and format:check error code
  .eslintignore
  .gitignore
  .prettierignore
  tests/e2e/src/Button.tsx
Due: nr lint, nr format

refactor
  tests/e2e/src/Button.tsx
Due: nr lint, nr format

wip: fix ci
  .github/workflows/static-code-analysis.yml
Due: none

update .lintstagedrc
  .lintstagedrc
Due: none

fix ci
  .github/workflows/deploy-e2e-test-app.yml
  .github/workflows/playwright.yml
  .github/workflows/static-code-analysis.yml
Due: none

add wasm ci
  .github/workflows/wasm-ci.yml
Due: none

update .lintstagedrc
  .lintstagedrc
  package.json
Due: nr format

fix wasm-ci
  .github/workflows/wasm-ci.yml
Due: none

update package version
  package.json
Due: nr format

update config files
  .husky/pre-commit
  .lintstagedrc
  package.json
  tests/e2e/vite.config.ts
  vite.config.ts
Due: nr lint, nr format

remove dts-bundle-generator
  dts-bundle-generator.config.js
Due: nr lint, nr format

update tests/e2e config files
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
Due: nr lint, nr format

update package.json
  package.json
  tests/e2e/package.json
Due: nr format

update workflow files
  .github/workflows/ci.yml
  .github/workflows/deploy-test-app.yml
  .github/workflows/e2e-test.yml
  .github/workflows/wasm-ci.yml
Due: none

update ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none

update config files
  .eslintrc.js
  .lintstagedrc
Due: nr lint, nr format

update package.json
  package.json
Due: nr format

remove `tests/e2e/.gitignore`
  tests/e2e/.gitignore
Due: none

setup `pnpm-workspace.yaml`
  pnpm-workspace.yaml
  tests/e2e/package.json
  tests/e2e/src/App.tsx
Due: nr lint, nr format

change filename of built file
  package.json
  vite.config.ts
Due: nr lint, nr format

add LICENSE.md
  LICENSE.md
Due: none

merge ci files
  .github/workflows/ci.yml
  .github/workflows/deploy-test-app.yml
  .github/workflows/e2e-test.yml
  .github/workflows/wasm-ci.yml
Due: none

rollback eslint config files
  .eslintignore
  .eslintrc.js
Due: nr lint, nr format

set workflow node version to 18
  .github/workflows/ci.yml
  .github/workflows/deploy-test-app.yml
Due: none

cancel rollback because eslint config was not related to lint error
  .eslintignore
  .eslintrc.js
Due: nr lint, nr format

fix cause of eslint error
  tests/e2e/src/Button.tsx
Due: nr lint, nr format

fix cause of test ci error
  .github/workflows/ci.yml
  pnpm-workspace.yaml
  tests/e2e/package.json
Due: nr format

update husky pre-commit
  .husky/pre-commit
Due: none

remove unnecessary job
  .github/workflows/ci.yml
Due: none
