Repository neoki07/sf2-synth-audio-worklet: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format, pnpm lint:wasm, pnpm format:wasm

update version
  package.json
Due: none

create README.md
  README.md
Due: none

format README.md
  .husky/pre-commit
  README.md
Due: none

fix prepare script
  package.json
Due: none

update description and keywords
  package.json
Due: none

format package.json
  package.json
Due: none

update README.md
  README.md
Due: none

add preinstall script
  .github/workflows/ci.yml
  .github/workflows/deploy-test-app.yml
  tests/e2e/package.json
Due: pnpm format

fix preinstall script
  tests/e2e/package.json
Due: none

wip: fix ci.yml
  .github/workflows/ci.yml
Due: pnpm format

update deploy-test-app.yml
  .github/workflows/deploy-test-app.yml
Due: pnpm format

update actions/setup-node version
  .github/workflows/ci.yml
  .github/workflows/deploy-test-app.yml
Due: pnpm format

fix description and update version
  package.json
Due: none

remove baseUrl and paths of tsconfig.json
  src/node.ts
  src/processor.ts
  tsconfig.json
Due: pnpm lint, pnpm format

remove index.html and svg files (unused files)
  favicon.svg
  index.html
  src/assets/react.svg
Due: pnpm format

format tsconfig.json
  tsconfig.json
Due: none

fix import order
  src/generated/processor.js
  src/generated/processor.js.map
  src/index.ts
  src/processor.ts
Due: pnpm lint, pnpm format

remove unused link
  tests/e2e/index.html
Due: pnpm format

update .prettierignore
  .prettierignore
Due: none

fix `createSoundFont2SynthNode` to wait for synthesizer initialization completion (#16)
  src/generated/processor.js
  src/generated/processor.js.map
  src/index.ts
  src/node.ts
  src/processor.ts
  src/types.ts
Due: pnpm lint, pnpm format

fix test app
  tests/e2e/src/App.tsx
Due: pnpm lint, pnpm format

update `README.md`
  README.md
Due: none

format `README.md`
  README.md
Due: none

update dependencies version
  package.json
Due: none

update package.json
  package.json
Due: none

fix eslint config
  .eslintignore
  .eslintrc.js
Due: pnpm lint, pnpm format

format
  src/audioworklet.d.ts
  src/index.ts
  src/node.ts
  src/processor.ts
  src/text-encoder-decoder.js
  tests/e2e/index.html
  tests/e2e/src/App.tsx
  tests/e2e/src/Button.tsx
  tests/e2e/src/main.tsx
Due: pnpm lint, pnpm format

update packageManager version of e2e
  tests/e2e/package.json
Due: none

update generated processor.js
  src/generated/processor.js
  src/generated/processor.js.map
Due: pnpm lint, pnpm format

downgrade pnpm required version from 8 to 7
  package.json
  tests/e2e/package.json
Due: none

update version from 0.0.8 to 0.0.9
  package.json
Due: none

docs: update getting started code
  README.md
Due: none

Path conditions:
  pnpm lint: any of: *.{js,jsx,ts,tsx}
  pnpm format: any of: *.{js,ts,jsx,tsx,mjs,cjs,html,css,vue,astro,yml,yaml}
  pnpm lint:wasm: any of: *.rs
  pnpm format:wasm: any of: *.rs
